.container{
    margin: 5%;
}
form{
    margin: 2%;
    color: white;
}
*{
    color:white;
}
label{
    color: white;
}
input, select, button{
    border: 1px solid white;
    border-style:solid ;
    color: white;
}